{% extends "base.html" %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{% url 'labsoft-lab-index' %}">Home</a></li>
		<li class="active">Users</li>
	</ul>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/DT_bootstrap.css">
{% endblock %}

{% block main_content %}
{% block actions %}
    <a class="btn btn-primary" href="{% url 'labsoft-lab-user-create' %}"><i class="icon-plus-sign"></i> Add User </a>
{% endblock %}

<div class="container">
	<h3>Users</h3>
    <table class="table table-bordered table-condensed" id="sortable-table">
		<thead>
			<tr>
				<th>Name</th>
                <th>Username</th>
                <th>Company</th>
                <th>Mobile</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
			{% for object in object_list %}
                <tr>
                   <td>{{object.employee.name}}</td>
				   <td>{{object.user.username}}</td>
				   <td>{{object.employee.company.name}}</td>
				   <td>{{object.employee.mobile}}</td>
				   <td>{{object.employee.address}}</td>
				</tr>
			{% endfor %}
         </tbody>

     </table>
</div>
{% endblock %}