{% extends "base.html" %}

{% block main_content %}

<div class="container">
<h3>Title goes here</h3>
<div class="row">
      <div class="col-xs-6 col-md-4"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="//placehold.it/600x350"></a></div>
      <div class="col-xs-6 col-md-4"><a title="Image 2" href="#"><img class="thumbnail img-responsive" src="//placehold.it/600x350/2255EE"></a></div>
      <div class="col-xs-6 col-md-4"><a title="Image 3" href="#"><img class="thumbnail img-responsive" src="//placehold.it/600x350/449955/FFF"></a></div>
</div>

<div class="row">
      <div class="col-xs-6 col-md-4"><a title="Image 2" href="#"><img class="thumbnail img-responsive" src="//placehold.it/600x350/2255EE"></a></div>
      <div class="col-xs-6 col-md-4"><a title="Image 3" href="#"><img class="thumbnail img-responsive" src="//placehold.it/600x350/449955/FFF"></a></div>
      <div class="col-xs-6 col-md-4"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="//placehold.it/600x350/992233"></a></div>
</div>

</div>
{% endblock %}